{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead"></p>ByteOnTheRocks to-do app: So much to do, wake up!</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>id: {{item.id}}          Status:  {{item.status}}          Name: {{item.name}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <form action="" method="post" class="add_new_item">
    <div class="add_new_item">
      <label for="title">Add item in the 'To Do' list: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="add_new_item">
      <input type="submit" value="Add item">
    </div>
  </form>
{% endblock %}