{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead"></p>ByteOnTheRocks to-do app: So much to do, wake up!</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <form action="/add_todo_item" method="post" class="add_new_item">
    <div class="add_new_item">
      <label for="title">New item title: </label>
      <input type="text" name="title" id="title" required>
      <input type="submit" value="Add item">
    </div>
  </form>
  <form action="/item_completed" method="post" class="item_completed">
    <div class="item_completed">
      <label for="id">Id item completed: </label>
      <input type="text" name="id" id="id" required>
      <input type="submit" value="Item completed">
    </div>
  </form>
{% endblock %}