{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead"></p>ByteOnTheRocks to-do app: So much to do, wake up!</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <form action="/add_todo_item" method="post" class="add_new_item">
    <div class="add_new_item">
      <label for="title">New item title: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="add_new_item">
      <input type="submit" value="Add item">
    </div>
  </form>
  <form action="/remove_todo_item" method="post" class="remove_todo_item">
    <div class="remove_todo_item">
      <label for="id">Remove item with id: </label>
      <input type="text" name="id" id="id" required>
    </div>
    <div class="remove_todo_item">
      <input type="submit" value="Remove item">
    </div>
  </form>
  <form action="/change_item_status" method="post" class="change_item_status">
    <div class="change_item_status">
      <label for="id">Change status of item with id: </label>
      <input type="text" name="id" id="id" required>
      <label for="status">New change_item_status: </label>
      <input type="text" name="status" id="status" required>
    </div>
    <div class="change_item_status">
      <input type="submit" value="Change status">
    </div>
  </form>
{% endblock %}
